.accordions {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.filter {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filter select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--color-accent);
  background-color: var(--color-secondary);
  font-size: 1rem;
}
