@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #f5f1ed;
  --color-text: #252323;
  --color-primary: #70798c;
  --color-secondary: #dad2bc;
  --color-accent: #a99985;
  --color-light: #6b6968;
  --font-sans: "Roboto", sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
  input {
    @apply w-full px-3 py-2 md:py-3.5 rounded-lg border border-accent bg-secondary
  transition-all duration-200 ease-in-out outline-none
  focus:border-accent focus:ring-4 focus:ring-accent/30 focus:outline-none;
  }
}
